.sidebar {
    display: flex;
    flex-direction: column;
}

.sidebar-item {
    margin: 2px 4px;
    padding: 10px;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
}

.sidebar-item.highlight,.sidebar-item.highlight:hover {
    background-color: var(--light-primary-color);
    color: var(--important-btn-focus-color);
}

.sidebar-item:hover {
    background-color: var(--tag-focus-color);
}

.sidebar-folder-arrow,.sidebar-folder-children {
    transition: 0.3s;
}

.sidebar-folder.expand > :nth-child(1) > :nth-child(1) > .sidebar-folder-arrow {
    transform: rotate(180deg);
}

.sidebar-folder-children {
    max-height: 0;
    overflow: hidden;
}

.sidebar-folder.expand > .sidebar-folder-children {
    max-height: 100vh;
}