.business-intro-root {
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 15px;
}

.business-intro-root > * {
    margin-right: 30px;
}

.business-intro-root img {
    width: 40px;
    height: 40px;
    border-radius: 10px;
    margin-right: 20px;
    object-fit: cover;
    object-position: center;
}

.business-intro-divider {
    width: 1px;
    height: 35px;
    background-color: var(--label-color);
}