.purchase-root {
    display: flex;
    flex-direction: column;
}
.purchase-root > * {
    margin: 1vh 2vw;
}

.purchase-label {
    display: inline;
    flex: 0 0 auto;
    color: var(--label-color);
}

.purchase-title {
    font-size: calc(20px + 0.8vw);
    font-weight: bold;
}

.purchase-price-line {
    color: var(--secondary-color);
}

.purchase-price {
    font-size: 26px;
}

.purchase-intro,.purchase-addr,.purchase-cnt {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.purchase-item-block,.purchase-counter > * {
    user-select: none;
    margin: 4px;
    padding: 3px 8px;
    font-size: 12px;
    color: #585858;
    border-radius: 5px;
    border: 1px solid var(--background-color);
    cursor: default;
    box-shadow: 0 3px 3px var(--deeper-background-color);
    transition: 0.2s;
}

.purchase-item-block:hover {
    background-color: var(--background-color);
}

#purchase-counter-input {
    font-family: inherit;
    outline: 2px solid transparent;
    user-select: none;
}

#purchase-counter-input:focus {
    outline: 2px solid var(--primary-color);
}

.purchase-buying-btn {
    font-family: inherit;
    margin-top: 2vh;
    width: 140px;
    line-height: 50px;
    text-align: center;
    font-size: 15px;
    background: var(--important-btn-color);
    color: white;
    border-radius: 100px;
    cursor: pointer;
    user-select: none;
    border: none;
    transition: 0.2s;
    box-shadow: 0 0 15px var(--important-btn-color);
}

.purchase-buying-btn:hover {
    background: var(--important-btn-focus-color);
}
