.purchase-root {
    display: flex;
    flex-direction: column;
}
.purchase-root > * {
    margin: 10px;
}

.purchase-label {
    display: inline;
    flex: 0 0 auto;
    color: var(--label-color);
}

.purchase-title {
    font-size: 28px;
    font-weight: bold;
}

.purchase-price-line {
    color: var(--secondary-color);
    font-size: 12px;
}

.purchase-price {
    font-size: 26px;
}

.purchase-addr {
    padding-top: 5px;
    padding-bottom: 5px;
}

.purchase-intro,.purchase-addr,.purchase-cnt {
    display: flex;
    align-items: center;
}

.purchase-item-block {
    user-select: none;
    margin: 1px;
    background-color: var(--primary-color);
    border-radius: 5px;
    padding: 7px 10px;
    cursor: pointer;
    transition: 0.2s;
}

.purchase-item-block:hover {
    background-color: var(--button-focus-color);
}

.purchase-buying-btn {
    width: 140px;
    line-height: 50px;
    text-align: center;
    font-size: 15px;
    background: var(--important-btn-color);
    color: white;
    border-radius: 100px;
    cursor: pointer;
    user-select: none;
    border: none;
    transition: 0.2s;
    box-shadow: 0 0 15px var(--important-btn-color);
}

.purchase-buying-btn:hover {
    background: var(--important-btn-focus-color);
}
