.swiper-pagination-bullet-active {
    background-color: var(--primary-color)!important;
}
.swiper-button-prev {
    color: var(--secondary-color)!important;
    transform: scale(0.5);
}

.swiper-button-next {
    color: var(--secondary-color)!important;
    transform: scale(0.5);
}

.swiper-bar-img {
    object-fit: cover;
    object-position: center;
    min-width: 100%;
    height: 270px;
}


.swiper-bar-root {
    width: 60%;
    margin-right: 20px;
    user-select: none;
    min-width: 0;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}

.swiper-bar-root > div {
    height: 270px;
    border-radius: 10px;
}
