.detail-page-root {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.detail-page-root > * {
    margin: 10px 20px;
    border-radius: 10px;
    background-color: var(--background-color);
}

.detail-page-root > *:nth-child(1) {
    margin-top: 20px;
}

.detail-page-product {
    display: flex;
    justify-content: space-between;
}

@media (max-width: 800px) {
    .detail-page-product {
        flex-direction: column;
    }
}

.detail-page-product > *:nth-child(1) {
    flex: 0 1 auto;
    margin: 20px;
    align-self: center;
}

.detail-page-product > *:nth-child(2) {
    flex: 1 1 0;
    margin: 20px;
}