.detail-page-root {
    background-color: rgb(255, 246, 228);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.detail-page-root > *, .detail-page-root > :nth-child(1) > * {
    margin: 10px 150px;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0 0 10px #00000033;
}

.detail-page-root > :nth-child(1) {
    margin-top: 20px;
    background-color: inherit;
    box-shadow: none;
    display: flex;
    height: 60px;
}

.detail-page-root > :nth-child(1) > :nth-child(1) {
    margin: 0;
    margin-right: 20px;
    width: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.2s;
}
.detail-page-root > :nth-child(1) > :nth-child(1):hover {
    background-color: var(--background-color);
}

.detail-page-root > :nth-child(1) > :nth-child(2) {
    margin: 0;
    flex: 1 1;
}

.detail-page-product {
    display: flex;
    justify-content: space-between;
    padding: 30px;
}

@media (max-width: 1000px) {
    .detail-page-root > * {
        margin: 10px 5vw;
    }
    .detail-page-product {
        flex-direction: column;
    }
    .detail-page-product > *:nth-child(2) {
        margin: 0!important;
    }
}

.detail-page-product > *:nth-child(1) {
    flex: 0 1 auto;
    align-self: center;
    margin: 20px;
}

.detail-page-product > *:nth-child(2) {
    flex: 1 1 0;
    margin: 20px;
}