button {
    font-family: inherit;
    padding-left: 7px;
    padding-right: 7px;
    line-height: 30px;
    text-align: center;
    font-size: 15px;
    background: var(--important-btn-color);
    color: white;
    border-radius: 5px;
    cursor: pointer;
    user-select: none;
    border: none;
    transition: 0.2s;
    box-shadow: 0 0 5px var(--important-btn-color);
}

button:hover {
    background: var(--important-btn-focus-color);
}

::-webkit-scrollbar {
    width: 4px;
}

::-webkit-scrollbar-thumb {
    background: #00000055;
    border-radius: 2px;
}