@font-face{
	font-family: aFont;
	src: url("/DingTalk_JinBuTi_Regular.woff2");
}

body {
  margin: 0;
  font-family: aFont;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
