:root {
    --light-primary-color: #f8d4bc;
    --primary-color: #ffaf7b;
    --secondary-color: rgb(255, 130, 77);
    --button-focus-color: #ef8b4c;
    --important-btn-color: rgb(255, 130, 77);
    --important-btn-focus-color: rgb(253, 99, 33);
    --background-color: #f3f3f3;
    --deeper-background-color: #d1d0d0;
    --tag-focus-color: rgba(0, 0, 0, 0.06);
    --text-color: #333333;
    --accent-color: #ff5a5f;
    --label-color: #7f7f7f;
}
